@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #f9faf8;
   font-family: 'Lato', sans-serif;
   overflow-x: hidden;
}

h1 {
   margin: 0.25rem 0 1rem;
   font-size: 2.5rem;
   line-height: 2.5rem;
}

h2 {
   font-size: 1.8rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.25rem 1rem 0.5rem;
   position: relative;
}

main {
   display: flex;
   flex-direction: column-reverse;
}

img {
   max-height: 300px;
   max-width: 600px;
   width: 100%;
   object-fit: cover;
   margin: 0 auto;
}

/* top section (header and hero) */

.top-section {
   background: #141414;
   width: 100%;
}

.section-inner {
   max-width: 1080px;
   margin: 0 auto;
}

.logo {
   font-size: 2rem;
   font-weight: bold;
   letter-spacing: -1px;
   margin: 0.4rem 0;
   user-select: none;
}

.menu-icon {
   margin-top: 0.25rem;
   width: 40px;
}

.menu-icon > div {
   height: 4px;
   background: #f9faf8;
   margin: 0.25rem;
   border-radius: 4px;
}

.links {
   display: none;
   flex-direction: column;
   list-style: none;
   padding: 0;
   position: absolute;
   overflow: hidden;
   right: 25px;
   top: 30px;
   background: #f9faf8;
   color: #141414;
   max-height: 0;
   transition: all 750ms linear;
   cursor: pointer;
   user-select: none;
}

.links > li {
   padding: 0.75rem 1rem;
}

.links > li:hover {
   background-color: #ececec;
   transform: scale(1.02);
}

.main-text {
   padding: 1rem 1rem;
   margin: 0.5rem auto;
   max-width: 640px;
}

.main-text > p {
   margin:  0.5rem 0;
}

.main-text > button {
   margin: 0.75rem 0 0.25rem;
}

.button {
   background: #b9141a;
   color: #f9faf8;
   border: none;
   padding: 0.5rem 1.75rem;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   user-select: none;
}

/* information section */
.information {
   color: #141414;
   text-align: center;
   margin-bottom: 1rem;
}

.box {
   width: 300px;
}

.box img {
   height: 280px;
   width: 280px;
   object-fit: cover;
   border-radius: 10px;
}

.img-outer {
   border: 6px #b9141a solid;
   border-radius: 16px;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sub-text {
   padding: 0.85rem;
   font-size: 1.05rem;
}

/* quote section */

.quote {
   background-color: #ffe7e7;
   color: #141414;
   width: 100%;
   padding: 3rem;
   /* opacity: 0.8; */
}

.blockquote {
   max-width: 720px;
   margin: 0 auto;
   padding: 1.5rem;
}



.quote-text {
   font-weight: 300;
   font-style: italic;
   font-size: 1.75rem;
   padding: 0 1rem;
   margin: 0;
   margin-top: 0.5rem;
   /* opacity: 1.0; */
}

.cite {
   display: block;
   text-align: right;
   font-style: normal;
   font-weight: bold;
   padding: 0.5rem 1.25rem;
}

/* CTA section */
.cta {
   max-width: 1080px;
   margin: 2rem 0.5rem;
   padding: 2rem 4rem;
   background: #b9141a;
   border-radius: 10px;
}

.cta-title {
   font-size: 1.5rem;
   margin: 0 0 0.5rem;
}

.cta-subtext {
   margin: 0;
}

.cta-button {
   display: block;
   /* border: 2px solid #141414; */
   margin-left: auto;
}

.cta-button:hover {
   background: #141414;
   /* border:2px solid #ffe7e7 ; */
}

/* footer */
.footer {
   background: #141414;
   padding: 1.5rem;
   width: 100%;
}

.footer > p {
   margin: 0;
   text-align: center;
   font-size: 0.85rem;
}

.small {
   font-size: 0.6rem;
   margin-left: 0.15rem;
}

/* media queries */
@media (min-width: 640px) {
   .cta {
      display: flex;
      padding: 2rem;
      justify-content: space-between;
      width: 90%;
   }

   .cta-button {
      align-self: center;
      min-width: 125px;
   }

   .cta-title {
      padding: 0 1rem;
   }

   .cta-subtext {
      padding: 0 1rem;
      max-width: 400px;
   }
}


@media (min-width: 740px) {
   .menu-icon {
      display: none;
   }

   .links {
      display: flex;
      background: inherit;
      color: #e5e7eb;
      flex-direction: row;
      position: static;
      margin: 0;
      max-height: max-content;
   }

   .links span {
      display: none;
   }

   .links > li:hover {
      background-color: inherit;
      color: #b9b8b8;
   }

   .blockquote {
      max-width: 640px;
   }

   .cta {
      padding: 2rem 4rem;
   }
}

@media (min-width: 800px) {
   main {
      flex-direction: row;
      align-items: center;
      padding: 2rem 1.75rem 4rem 0rem;
   }

   main img {
      height: 260px;
      margin-left: 1.5rem;
      border-radius: 6px;
   }

   .boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .box {
      width: 260px;
   }
   
   .box img {
      height: 240px;
      width: 240px;
   }
   
   .img-outer {
      width: 260px;
      height: 260px;
   }

   .blockquote {
      max-width: 700px;
   }

   .links span {
      display: inline;
   }

   .cta {
      padding: 2rem 6rem;
   }
}

@media (min-width: 1080px) {
   html {
      font-size: 20px;
   }

   .boxes {
      width: 1080px;
      justify-content: space-between;
   }

   .box {
      margin: 0;
      width: 240px;
   }
   
   .box img {
      height: 220px;
      width: 220px;
   }
   
   .img-outer {
      width: 240px;
      height: 240px;
   }

   .information {
      padding: 3rem;
   }

   .information h2 {
      margin-bottom: 3rem;
   }

   .blockquote {
      max-width: 800px;
   }

   .button {
      font-size: 1rem;
   }

   .quote-text {
      font-size: 2rem;
   }

   .cite {
      font-size: 1.1rem;
   }

   .cta {
      margin: 5rem;
   }

   .cta-title {
      font-size: 1.6rem;
   }

   .cta-subtext {
      font-size: 1.1rem;
   }

   .cta-button {
      font-size: 1.25rem;
      border: 3px solid #f9faf8;
   }
}